.error {
    display: flex;
    justify-content: center;

    .error__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100rem 0 215rem;

        &__heading {
            color: var(--Gray-300);
            margin: 130rem 0 8rem;
        }

        &__description {
            display: flex;
            flex-direction: row;
            justify-content: center;
            max-width: 613rem;
            text-align: center;
            gap: 8rem;


            &-gray {
                color: var(--Gray-300);
            }

            &-black {
                padding-top: 5rem;
                display: flex;
                letter-spacing: 2.3rem;
            }
        }

        .error__button {
            margin: 41rem 0 24rem;
            text-decoration: none;
            letter-spacing: 1.6rem;
        }
    }
}