.footer {
    padding-top: 120rem;
    padding-bottom: 120rem;
    background-color: var(--Grey-100);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 16rem;
    }

    &__title {
        padding-bottom: 32rem;
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__link {
        text-decoration: none;
        color: var(--Base-Black);
        font: var(--Heading-H6);
    }

    &__copyright {
        min-width: 200px;
    }

    &__copyright-text {
        font: var(--Heading-H9);
        position: absolute;
        bottom: 0;
    }

}

@media screen and (max-width: 320px) {
    .footer {
        margin: 13px;

        &__container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__links {
            padding: 40rem 0;
        }

        &__copyright-text {
            display: flex;
            flex-direction: column;
        }
    }
}