.header {
    padding-top: 90rem;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;
        gap: 16rem;
    }

    &__nav-link {
        text-decoration: none;
        text-transform: uppercase;
        font: var(--Heading-H8);
        color: inherit;
        letter-spacing: 3.9rem;

        &::after {
            content: "";
            display: block;
            height: 1rem;
            width: 70%;
            margin: 0 auto;
            background-color: transparent;
            transition: all 0.8s;
        }

        &:hover {
            &::after {
                width: 70%;
                background-color: var(--Base-Black);
            }
        }

    }

    &__nav-link--active {
        &::after {
            background-color: var(--Base-Black);
        }
    }
}


.mobile-menu {


    &__nav-link {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        cursor: pointer;
        margin: 15rem;
        text-decoration: none;
        color: var(--Base-Black);
    }

}

@media screen and (min-width: 481px) {

    .header__burger,
    .mobile-menu {
        display: none !important;
    }

    .header__nav {
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    .header {
        margin: 13px;
    }

    .header__nav,
    .mobile-menu {
        display: none;
    }

    .header__burger {
        display: block;
    }
}